<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <h4>此工具只能联网访问</h4>
    <el-form label-width="110px">
      <el-alert
      title="人员名单请直接拷贝表中的人员名称，回车隔开，注意最后一行不能为空"
      type="warning">
    </el-alert>
      <el-form-item label="人员名单" :required="true">
        <el-input v-model="persons" type="textarea"></el-input>

      </el-form-item>

      <el-form-item label="分组数" :required="true">
        <el-input v-model.number="group"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="submitHandle">开始分组</el-button>
        <el-button type="primary" @click="exportHandle">导出</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="groupData" id="exportTab" stripe style="width: 100%">
      <el-table-column v-for="(item, idx) in head" :prop="item.id" :label="item.name" width="180">
      </el-table-column>
    </el-table>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.18.9/package/dist/xlsx.full.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        persons: '',
        group: null,
        head: [],
        groupData: [],
        listHandler: {},
        wopts: {
          bookType: 'xlsx',
          bookSST: false,
          type: 'binary'
        },
        workBook: {
          SheetNames: ['Sheet1'],
          Sheets: {},
          Props: {}
        },
      }
    },
    methods: {
      submitHandle() {
        if (!this.persons) {
          this.$message.warning('请填写人员名单')
          return
        }
        if (!this.group) {
          this.$message.warning('请填写分组数')
          return
        }
        const arr = this.persons.split(/\n/g)
        const newArr = this.run(arr)
        const result = this.arrayChunk(newArr, this.group)
        this.head = new Array(this.group).fill('').map((item, idx) => {
          this.listHandler[`group${idx + 1}`] = `第${idx + 1}组`
          return {
            name: `第${idx + 1}组`,
            id: `group${idx + 1}`
          }
        })
        this.groupData = result.map(item => {
          let obj = {}
          item.forEach((name, idx) => {
            obj[[`group${idx + 1}`]] = name
          })
          return obj
        })
        console.log(this.listHandler)
        console.log(this.groupData)
      },
      exportHandle() {
        this.json2Excel()
      },
      arrayChunk(array, size) {
        let data = []
        for (let i = 0; i < array.length; i += size) {
          data.push(array.slice(i, i + size))
        }
        return data
      },
      noSort(arr) {
        let result = [], random;
        while (arr.length > 0) {
          random = Math.floor(Math.random() * arr.length)
          result.push(arr[random])
          arr.splice(random, 1)
        }
        return result
      },
      run(arr) {
        let i = 0
        let newArr
        while (i < arr.length + 1) {
          i++
          const a = arr
          newArr = this.noSort(a)
        }
        return newArr
      },
      json2Excel() {
        //1、XLSX.utils.json_to_sheet(data) 接收一个对象数组并返回一个基于对象关键字自动生成的“标题”的工作表，默认的列顺序由使用Object.keys的字段的第一次出现确定
        //2、将数据放入对象workBook的Sheets中等待输出
        const result = this.groupData.map(item => {
          let obj = {}
          for (let key in item) {
            obj[`第${key.split('group')[1]}组`] = item[key]
          }
          return obj
        })
        this.workBook.Sheets['Sheet1'] = XLSX.utils.json_to_sheet(result)

        //3、XLSX.write() 开始编写Excel表格
        //4、changeData() 将数据处理成需要输出的格式
        this.saveAs(
          new Blob([this.changeData(XLSX.write(this.workBook, this.wopts))],
          { type: 'application/octet-stream' }),
          '分组.xlsx'
        )
      },
      changeData(s) {
        //如果存在ArrayBuffer对象(es6) 最好采用该对象
        if (typeof ArrayBuffer !== 'undefined') {

          //1、创建一个字节长度为s.length的内存区域
          var buf = new ArrayBuffer(s.length);

          //2、创建一个指向buf的Unit8视图，开始于字节0，直到缓冲区的末尾
          var view = new Uint8Array(buf);

          //3、返回指定位置的字符的Unicode编码
          for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
          return buf;

        } else {
          var buf = new Array(s.length);
          for (var i = 0; i != s.length; ++i) buf[i] = s.charCodeAt(i) & 0xFF;
          return buf;
        }
      },
      saveAs(obj, fileName) {//当然可以自定义简单的下载文件实现方式 
        console.log("save")
        var tmpa = document.createElement("a");

        tmpa.download = fileName || "result.xlsx";
        tmpa.href = URL.createObjectURL(obj); //绑定a标签
        tmpa.click(); //模拟点击实现下载

        setTimeout(function () { //延时释放
          URL.revokeObjectURL(obj); //用URL.revokeObjectURL()来释放这个object URL
        }, 100);

      }
    }
  })
</script>

</html>